@import 'reset';
@import 'variables';
@import 'typography';
@import 'components';
@import 'error';
@import 'header';
@import 'intro';
@import 'form';
@import 'book-form';
@import 'element-list';
@import 'element-card';
@import 'author';
@import 'genre';

body {
  margin: 0;
  background-color: #181712;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

@media (min-width: 1224px) {
  .container {
    width: unset;
    max-width: unset;
  }
}

@media (min-width: 1224px) {
  #site-main { padding-top: 30px }
}

footer {
  text-align: center;
}

