<%- include('head'); -%>
<body>
  <%- include('header'); -%>

  <div class="container" id="delete-book">
    <h2>Do you really want to delete the <%= book.title %> Book?</h2>
      <form method="POST" action=" ">
        <input type="hidden" name="bookid" required="true" value="<%= book.id %>">
        <button type="submit" class="button">Delete</button>
        <button type="button" class="button" id="cancel-delete">
          <a href="/catalog/book/list">No</a>
        </button>
      </form>
  </div>
</body>