<div class="card-wrapper">
  <article class="card">
    <header class="book-title">
      <h3><%= bookList.book.title %></h3>
      <button class="icon delete-book">
        <i class="far fa-trash-alt"></i>
      </button>
    </header>
    <div class="card-details">
      <h3>Author:</h3>
      <p class="book-author"><%= bookList.book.author.name %></p>
      <h3>Genre:</h3>
      <p class="book-genre">
        <% bookList.book.genre.forEach(function(genre) {
        %>
          <span><%= genre.name %></span>
        <% }) %>
      </p>
    </div>
    <footer>
      <button class="button status-button"><%= bookList.book.status %></button>
      <button clase="icon edit-book">
        <i clase="far fa-edit"></i>
      </button>
    </footer>
  </article>
</div>