<%- include('head'); -%>
<body>
  <%- include('header'); -%>
  
  <div class="book-list">
    <h2 id="author-list">List of Genres</h2>

    <ul class="container" id="genre-list">
      <% genreList.forEach(function(genre) { %>
        <li>
          <a href="<%= genre.url %>"><%= genre.name %></a>
        </li>
      <% }) %>
    </ul>

  </div>
  <footer class="container">
    <button class="button add-book-btn">
      <a href="/catalog/genre/add">
        <i class="fas fa-plus"></i>
      </a>
    </button>
    <p>Click to add an genre</p>
  </footer>
</body>
</html>