
<header class="container" id="site-header">
    <h1>My Books</h1>
    <nav id="navbar">
        <a href="/catalog/book/list">Books</a>
        <a href="/catalog/author/list">Authors</a>
        <a href="/catalog/genre/list">Genres</a>
    </nav>
</header>

