<%- include('head'); -%>
<body>
  <%- include('header'); -%>
  
  <main id="site-main" class="container">
    <div class="library" >
      <div class="introduction">
        <h2>Welcome!</h2>
      </div>
    </div>
  </main>
  
  <%- include('footer'); -%>
</body>

